<br/>
<br/>

<form class="row g-3">
  
  <div class="col-auto">
   
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisar por nome">
  </div>
  <div class="col-auto">
    <button type="button" (click)="consultarUser()" class="btn btn-primary mb-3">Buscar</button>
  </div>
</form>

<br/>
<br/>
<table class="table">
	<thead class="thread-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nome</th>
			<th scope="col">Cpf</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let studant of students">
			<td>{{studant.id}}</td>
			<td>{{studant.nome}}</td>
			<td>{{studant.cpf}}</td>
			<td><button (click)="deleteUsuario(studant.id)" class="btn btn-primary">Delete</button></td>
		</tr>
	</tbody>
</table>
